<div class="container">
  <div class="row">
    <!-- you can also use .col-sm-4, .col-sm-8 -->
    <div class="col-sm-6">
      <p>.col-sm-6</p>
      <!--Column left-->
    </div>
    <div class="col-sm-6">
      <!--Column right-->
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-sm-push-8" style="background-color: lavender">
      .col-sm-4 .col-sm-push-8
    </div>
    <div class="col-sm-8 col-sm-pull-4" style="background-color: lavenderblush">
      .col-sm-8 .col-sm-pull-4
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-4">
      <!--Column with 4 columns offset-->
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 col-md-2">
      <!--Column one-->
    </div>
    <div class="col-sm-9 col-md-8">
      <!--Column two-->
    </div>
    <div class="col-sm-12 col-md-2">
      <!--Column three-->
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4"></div>
    <div class="col-xs-4"></div>
  </div>
</div>
<hr>
<div>
  <ul class="pagination pagination-lg">
    <li><a href="#">1</a></li>
    <li class="active"><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li class="disabled"><a href="#">4</a></li>
    <li><a href="#">5</a></li>
  </ul>

  <ul class="pagination pagination-sm">
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
  </ul>

  <hr>

  <ul class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Private</a></li>
    <li><a href="#">Pictures</a></li>
    <li class="active">Vacation</li>
  </ul>
  <hr>
  <ul class="pager">
    <li><a href="#">Previous</a></li>
    <li><a href="#">Next</a></li>
  </ul>
  <ul class="pager">
    <li class="previous"><a href="#">Previous</a></li>
    <li class="next"><a href="#">Next</a></li>
  </ul>
<hr>
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">Panel Header</div>
      <div class="panel-body">Panel Content</div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Panel Header    The panel-group class clears the bottom-margin.</div>
      <div class="panel-body">Panel Content</div>
      <div class="panel-footer">Panel Footer</div>
    </div>
  </div>
<hr>



  <div class="dropdown">
    <button
      class="btn btn-default dropdown-toggle"
      type="button"
      id="menu1"
      data-toggle="dropdown"
    >
      Tutorials <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
      <li role="presentation">
        <a role="menuitem" tabindex="-1" href="#">HTML</a>
      </li>
      <li role="presentation">
        <a role="menuitem" tabindex="-1" href="#">CSS</a>
      </li>
      <li role="presentation">
        <a role="menuitem" tabindex="-1" href="#">JavaScript</a>
      </li>
      <li role="presentation" class="divider"></li>
      <li role="presentation">
        <a role="menuitem" tabindex="-1" href="#">About Us</a>
      </li>
    </ul>
  </div>
  <hr>
</div>

<div>
  <div class="media">
    <img
      class="d-flex mr-3"
      data-src="holder.js/64x64?theme=sky"
      alt="Generic placeholder image"
    />
    <div class="media-body">
      <h5 class="mt-0">Media heading</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
      ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
      viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
      lacinia congue felis in faucibus.
    </div>
  </div>
<hr>
  <h2>Media Object</h2>
  <p>
    Use the "media-left" class to left-align a media object. Text that should
    appear next to the image, is placed inside a container with
    class="media-body".
  </p>
  <p>Tip: Use the "media-right" class to right-align the media object.</p>
  <br />
  <!-- Left-aligned media object -->
  <div class="media">
    <div class="media-left">
      <img src="img_avatar1.png" class="media-object" style="width: 60px" />
    </div>
    <div class="media-body">
      <h4 class="media-heading">Left-aligned</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>
  <hr />
  <!-- Right-aligned media object -->
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">Right-aligned</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
    <div class="media-right">
      <img src="img_avatar1.png" class="media-object" style="width: 60px" />
    </div>
  </div>
  <h2>Media Object</h2>
  <p>
    The media object can also be top, middle or bottom-aligned with the
    "media-top", "media-middle" or "media-bottom" class:
  </p>
  <br />
  <div class="media">
    <div class="media-left media-top">
      <img src="img_avatar1.png" class="media-object" style="width: 80px" />
    </div>
    <div class="media-body">
      <h4 class="media-heading">Media Top</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>
  <hr />
  <div class="media">
    <div class="media-left media-middle">
      <img src="img_avatar1.png" class="media-object" style="width: 80px" />
    </div>
    <div class="media-body">
      <h4 class="media-heading">Media Middle</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>
  <hr />
  <div class="media">
    <div class="media-left media-bottom">
      <img src="img_avatar1.png" class="media-object" style="width: 80px" />
    </div>
    <div class="media-body">
      <h4 class="media-heading">Media Bottom</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>
  <h2>Nested Media Objects</h2>
  <p>
    Media objects can also be nested (a media object inside a media object):
  </p>
  <br />
  <div class="media">
    <div class="media-left">
      <img src="img_avatar1.png" class="media-object" style="width: 45px" />
    </div>
    <div class="media-body">
      <h4 class="media-heading">
        John Doe <small><i>Posted on February 19, 2016</i></small>
      </h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <!-- Nested media object -->
      <div class="media">
        <div class="media-left">
          <img src="img_avatar2.png" class="media-object" style="width: 45px" />
        </div>
        <div class="media-body">
          <h4 class="media-heading">
            John Doe <small><i>Posted on February 19, 2016</i></small>
          </h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <!-- Nested media object -->
          <div class="media">
            <div class="media-left">
              <img
                src="img_avatar3.png"
                class="media-object"
                style="width: 45px"
              />
            </div>
            <div class="media-body">
              <h4 class="media-heading">
                John Doe <small><i>Posted on February 19, 2016</i></small>
              </h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


    <br />

    <h2>Modal Example</h2>
    <!-- Trigger the modal with a button -->
    <button
      type="button"
      class="btn btn-info btn-lg"
      data-toggle="modal"
      data-target="#myModal"
    >
      Open Modal
    </button>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
            <h4 class="modal-title">Modal Header</h4>
          </div>
          <div class="modal-body">
            <p>Some text in the modal.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-dialog modal-sm"></div>
    <div class="modal-dialog modal-lg"></div>
    <h3>Tooltip Example</h3>
    <a href="#" data-toggle="tooltip" title="Hooray!">Hover over me</a>
    <ul class="list-inline">
      <li>
        <a href="#" data-toggle="tooltip" data-placement="top" title="Hooray!"
          >Top</a
        >
      </li>
      <li>
        <a
          href="#"
          data-toggle="tooltip"
          data-placement="bottom"
          title="Hooray!"
          >Bottom</a
        >
      </li>
      <li>
        <a href="#" data-toggle="tooltip" data-placement="left" title="Hooray!"
          >Left</a
        >
      </li>
      <li>
        <a href="#" data-toggle="tooltip" data-placement="right" title="Hooray!"
          >Right</a
        >
      </li>
    </ul>
    <h3>Popover Example</h3>
    <a
      href="#"
      data-toggle="popover"
      title="Popover Header"
      data-content="Some content inside the popover"
      >Toggle popover</a
    >
    <h3>Popover Example</h3>
    <ul class="list-inline">
      <li>
        <a
          href="#"
          title="Header"
          data-toggle="popover"
          data-placement="top"
          data-content="Content"
          >Top</a
        >
      </li>
      <li>
        <a
          href="#"
          title="Header"
          data-toggle="popover"
          data-placement="bottom"
          data-content="Content"
          >Bottom</a
        >
      </li>
      <li>
        <a
          href="#"
          title="Header"
          data-toggle="popover"
          data-placement="left"
          data-content="Content"
          >Left</a
        >
      </li>
      <li>
        <a
          href="#"
          title="Header"
          data-toggle="popover"
          data-placement="right"
          data-content="Content"
          >Right</a
        >
      </li>
    </ul>
    <h3>Popover Example</h3>
    <a
      href="#"
      title="Dismissible popover"
      data-toggle="popover"
      data-trigger="focus"
      data-content="Click anywhere in the document to close this popover"
      >Click me</a
    >
    <h3>Popover Example</h3>
    <a href="#" title="Header" data-toggle="popover" data-content="Some content"
      >Click Me</a
    ><br />
    <a
      href="#"
      title="Header"
      data-toggle="popover"
      data-trigger="hover"
      data-content="Some content"
      >Hover over me</a
    >
    <!-- <body data-spy="scroll" data-target=".navbar" data-offset="50"> -->

    <div id="section1" class="container-fluid">
      <h1>Section 1</h1>
      <p>
        Try to scroll this section and look at the navigation bar while
        scrolling! Try to scroll this section and look at the navigation bar
        while scrolling!
      </p>
      <p>
        Try to scroll this section and look at the navigation bar while
        scrolling! Try to scroll this section and look at the navigation bar
        while scrolling!
      </p>
    </div>
    <div id="section2" class="container-fluid">
      <h1>Section 2</h1>
      <p>
        Try to scroll this section and look at the navigation bar while
        scrolling! Try to scroll this section and look at the navigation bar
        while scrolling!
      </p>
      <p>
        Try to scroll this section and look at the navigation bar while
        scrolling! Try to scroll this section and look at the navigation bar
        while scrolling!
      </p>
    </div>
    <div id="section3" class="container-fluid">
      <h1>Section 3</h1>
      <p>
        Try to scroll this section and look at the navigation bar while
        scrolling! Try to scroll this section and look at the navigation bar
        while scrolling!
      </p>
      <p>
        Try to scroll this section and look at the navigation bar while
        scrolling! Try to scroll this section and look at the navigation bar
        while scrolling!
      </p>
    </div>
    <div id="section41" class="container-fluid">
      <h1>Section 4 Submenu 1</h1>
      <p>
        Try to scroll this section and look at the navigation bar while
        scrolling! Try to scroll this section and look at the navigation bar
        while scrolling!
      </p>
      <p>
        Try to scroll this section and look at the navigation bar while
        scrolling! Try to scroll this section and look at the navigation bar
        while scrolling!
      </p>
    </div>
    <div id="section42" class="container-fluid">
      <h1>Section 4 Submenu 2</h1>
      <p>
        Try to scroll this section and look at the navigation bar while
        scrolling! Try to scroll this section and look at the navigation bar
        while scrolling!
      </p>
      <p>
        Try to scroll this section and look at the navigation bar while
        scrolling! Try to scroll this section and look at the navigation bar
        while scrolling!
      </p>
    </div>
    <!-- <body data-spy="scroll" data-target="#myScrollspy" data-offset="20"> -->
    <div class="row">
      <div class="col-sm-9">
        <div id="section1">
          <h1>Section 1</h1>
          <p>
            Try to scroll this section and look at the navigation list while
            scrolling!
          </p>
        </div>
        <div id="section2">
          <h1>Section 2</h1>
          <p>
            Try to scroll this section and look at the navigation list while
            scrolling!
          </p>
        </div>
        <div id="section3">
          <h1>Section 3</h1>
          <p>
            Try to scroll this section and look at the navigation list while
            scrolling!
          </p>
        </div>
        <div id="section41">
          <h1>Section 4-1</h1>
          <p>
            Try to scroll this section and look at the navigation list while
            scrolling!
          </p>
        </div>
        <div id="section42">
          <h1>Section 4-2</h1>
          <p>
            Try to scroll this section and look at the navigation list while
            scrolling!
          </p>
        </div>
      </div>
    </div>
    <div
      class="container-fluid"
      style="background-color: #f44336; color: #fff; height: 200px"
    >
      <h1>Bootstrap Affix Example</h1>
      <h3>Fixed (sticky) navbar on scroll</h3>
      <p>
        Scroll this page to see how the navbar behaves with data-spy="affix".
      </p>
      <p>
        The navbar is attached to the top of the page after you have scrolled a
        specified amount of pixels.
      </p>
    </div>

    <div class="container-fluid" style="height: 1000px">
      <h1>Some text to enable scrolling</h1>
      <h1>Some text to enable scrolling</h1>
      <h1>Some text to enable scrolling</h1>
      <h1>Some text to enable scrolling</h1>
      <h1>Some text to enable scrolling</h1>
      <h1>Some text to enable scrolling</h1>
      <h1>Some text to enable scrolling</h1>
      <h1>Some text to enable scrolling</h1>
      <h1>Some text to enable scrolling</h1>
      <h1>Some text to enable scrolling</h1>
      <h1>Some text to enable scrolling</h1>
    </div>
    <div
      class="container-fluid"
      style="background-color: #2196f3; color: #fff; height: 200px"
    >
      <h1>Bootstrap Affix Example</h1>
      <h3>Fixed (sticky) vertical sidenav on scroll</h3>
      <p>
        Scroll this page to see how the left navigation menu behaves with
        data-spy="affix".
      </p>
      <p>
        <strong
          >The left menu sticks to the page when you have scrolled a specified
          amount of pixels.</strong
        >
      </p>
    </div>
    <br />
    <div class="row">
      <div class="col-sm-9">
        <h1>Some text to enable scrolling</h1>
        <h1>Some text to enable scrolling</h1>
        <h1>Some text to enable scrolling</h1>
        <h1>Some text to enable scrolling</h1>
        <h1>Some text to enable scrolling</h1>
        <h1>Some text to enable scrolling</h1>
        <h1>Some text to enable scrolling</h1>
        <h1>Some text to enable scrolling</h1>
        <h1>Some text to enable scrolling</h1>
        <h1>Some text to enable scrolling</h1>
        <h1>Some text to enable scrolling</h1>
        <h1>Some text to enable scrolling</h1>
        <h1>Some text to enable scrolling</h1>
        <h1>Some text to enable scrolling</h1>
      </div>
    </div>
    <p>horizontal</p>
    <!-- <body data-spy="scroll" data-target=".navbar" data-offset="50"> -->

    <p>vertical</p>
    <!-- <body data-spy="scroll" data-target="#myScrollspy" data-offset="15"> -->

    <ul
      class="nav nav-pills nav-stacked"
      data-spy="affix"
      data-offset-top="205"
    ></ul>
    <div class="row">
      <div class="col-xs-6 col-sm-3">
        Column 1
        <br />
        Resize the browser window to see the effect.
      </div>
      <div class="col-xs-6 col-sm-3">Column 2</div>
      <!-- Add clearfix for only the required viewport -->
      <div class="clearfix visible-xs"></div>
      <div class="col-xs-6 col-sm-3">Column 3</div>
      <div class="col-xs-6 col-sm-3">Column 4</div>
    </div>
    <div class="row">
      <div class="col-sm-5 col-md-6">.col-sm-5 .col-md-6</div>
      <div class="col-sm-5 col-sm-offset-2 col-md-6 col-md-offset-0">
        .col-sm-5 .col-sm-offset-2 .col-md-6 .col-md-offset-0
      </div>
    </div>

    <div class="header">
      <h1>Chania</h1>
    </div>

    <div class="row">
      <div class="col-3 menu">
        <ul>
          <li>The Flight</li>
          <li>The City</li>
          <li>The Island</li>
          <li>The Food</li>
        </ul>
      </div>

      <div class="col-6">
        <h1>The City</h1>
        <p>
          Chania is the capital of the Chania region on the island of Crete. The
          city can be divided in two parts, the old town and the modern city.
        </p>
      </div>

      <div class="col-3 right">
        <div class="aside">
          <h2>What?</h2>
          <p>Chania is a city on the island of Crete.</p>
          <h2>Where?</h2>
          <p>Crete is a Greek island in the Mediterranean Sea.</p>
          <h2>How?</h2>
          <p>You can reach Chania airport from all over Europe.</p>
        </div>
      </div>
    </div>

    <div class="footer">
      <p>
        Resize the browser window to see how the content respond to the
        resizing.
      </p>
    </div>

    <!-- .container - responsive fixed width container -->
<div class="container">
  <div class="jumbotron">
    <p>I am jumbotron Resize this responsive page to see the effect!</p>
    <h1 class="display-3">Hello, world!</h1>
    <p class="lead">
      This is a simple hero unit, a simple jumbotron-style component for calling
      extra attention to featured content or information.
    </p>
    <hr class="my-2" />
    <p>
      It uses utility classes for typography and spacing to space content out
      within the larger container.
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#!" role="button">Some action</a>
    </p>
  </div>
  <hr />

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>light padding</th>
        <th>horizontal dividers</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
  <hr />
  <p>The .table-striped class adds zebra-stripes to a table:</p>
  <table class="table table-striped"></table>

  <p>
    The .table-condensed class makes a table more compact by cutting cell
    padding in half:
  </p>
  <table class="table table-condensed"></table>

  <p>
    The .table-responsive class creates a responsive table which will scroll
    horizontally on small devices (under 768px). When viewing on anything larger
    than 768px wide, there is no difference:
  </p>
  <div class="table-responsive">
    <table class="table"></table>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Default</td>
        <td>Defaultson</td>
        <td>def@somemail.com</td>
      </tr>
      <tr class="success">
        <td>Success</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr class="danger">
        <td>Danger</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr class="info">
        <td>Info</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
      <tr class="warning">
        <td>Warning</td>
        <td>Refs</td>
        <td>bo@example.com</td>
      </tr>
      <tr class="active">
        <td>Active</td>
        <td>Activeson</td>
        <td>act@example.com</td>
      </tr>
    </tbody>
  </table>
  <hr />

  <div class="container-fluid">
    <h1>My First Bootstrap Page</h1>
    <p>This is some text.</p>
  </div>

  <div>
    <p class="text-muted">This text is muted.</p>
    <p class="text-primary">This text is important.</p>
    <p class="text-success">This text indicates success.</p>
    <p class="text-info">This text represents some information.</p>
    <p class="text-warning">This text represents a warning.</p>
    <p class="text-danger">This text represents danger.</p>
    <p class="bg-primary">This text is important.</p>
    <p class="bg-success">This text indicates success.</p>
    <p class="bg-info">This text represents some information.</p>
    <p class="bg-warning">This text represents a warning.</p>
    <p class="bg-danger">This text represents danger.</p>
    <h2 class="red-text text-center">CatPhotoApp</h2>
    <h2 class="text-primary text-center">CatPhotoApp</h2>
    <p class="small">This paragraph is smaller.</p>
    <p class="text-left">Left-aligned text.</p>
    <p class="text-right">Right-aligned text.</p>
    <p class="text-center">Center-aligned text.</p>
    <p class="text-justify">
      Justified text. Justified text. Justified text. Justified text. Justified
      text. Justified text.
    </p>
    <p class="text-nowrap">
      No wrap text. No wrap text. No wrap text. No wrap text.
    </p>
    <p>
      <strong>Tip:</strong> Try to resize the browser window to see the
      behaviour of justify and nowrap.
    </p>
    <p class="text-lowercase">Lowercased text.</p>
    <p class="text-uppercase">Uppercased text.</p>
    <p class="text-capitalize">Capitalized text.</p>
    <p>
      The
      <abbr title="World Health Organization" class="initialism">WHO</abbr> was
      founded in 1948. (slightly smaller abbr)
    </p>
    <p>Things cats <span class="text-danger">love:text-danger</span></p>

    <div class="well">create a visual sense of depth for your columns.</div>

    <blockquote>
      <p>
        For 50 years, WWF has been protecting the future of nature. The world's
        leading conservation organization, WWF works in 100 countries and is
        supported by 1.2 million members in the United States and close to 5
        million globally.
      </p>
      <footer>From WWF's website</footer>
    </blockquote>
    <blockquote class="blockquote-reverse">
      <p>
        For 50 years, WWF has been protecting the future of nature. The world's
        leading conservation organization, WWF works in 100 countries and is
        supported by 1.2 million members in the United States and close to 5
        million globally.
      </p>
      <footer>From WWF's website</footer>
    </blockquote>

    <p>
      <strong>Tip:</strong> Try to resize the browser window to see the
      behaviour of the description list.
    </p>

    <pre class="pre-scrollable">
Text in a pre element
is displayed in a fixed-width
font, and it preserves
both      spaces and
line breaks.</pre
    >

    <div class="page-header">
      <h1>Example Page Header</h1>
    </div>
    <p>This is some text.</p>
    <p>This is another text.</p>
    <div class="well">Basic Well</div>
    <h2>Alerts</h2>
    <div class="alert alert-success">
      <strong>Success!</strong> This alert box could indicate a successful or
      positive action.
    </div>
    <div class="alert alert-info">
      <strong>Info!</strong> This alert box could indicate a neutral informative
      change or action.
    </div>
    <div class="alert alert-warning">
      <strong>Warning!</strong> This alert box could indicate a warning that
      might need attention.
    </div>
    <div class="alert alert-danger">
      <strong>Danger!</strong> This alert box could indicate a dangerous or
      potentially negative action.
    </div>
    <div class="alert alert-success">
      <strong>Success!</strong> You should
      <a href="#" class="alert-link">read this message</a>.
    </div>
    <div class="alert alert-success alert-dismissable">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
      <strong>Success!</strong> This alert box could indicate a successful or
      positive action.
    </div>
    <div class="alert alert-info alert-dismissable fade in">
      <a href="#" class="close" data-dismiss="alert" aria-label="close"
        >&times;</a
      >
      <strong>Info!</strong> This alert box could indicate a neutral informative
      change or action.
    </div>
  </div>

  <div>
    <button class="btn btn-block btn-danger">
      <i class="fa fa-trash">danger- Delete</i>
    </button>
    <button class="btn btn-block btn-info">
      <i class="fa fa-info-circle">Info</i>
    </button>
    <button class="btn btn-block btn-primary">
      <i class="fa fa-thumbs-up"></i>primary- Like
    </button>
    <button class="btn">Like</button>
    <button class="btn btn-block">Submit</button>
    <button type="submit" class="btn btn-primary">
      <i class="fa fa-paper-plane">Submit</i>
    </button>
    <button class="btn btn-default"></button>
    <button class="btn btn-default target">just for selecting button</button>

    <button type="button" class="btn btn-default">Default</button>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-link">Link</button>
    <button type="button" class="btn btn-primary btn-lg">Large</button>
    <button type="button" class="btn btn-primary btn-md">Medium</button>
    <button type="button" class="btn btn-primary btn-sm">Small</button>
    <button type="button" class="btn btn-primary btn-xs">XSmall</button>
    <h2>Button Tags</h2>
    <a href="#" class="btn btn-info" role="button">Link Button</a>
    <button type="button" class="btn btn-info">Button</button>
    <input type="button" class="btn btn-info" value="Input Button" />
    <input type="submit" class="btn btn-info" value="Submit Button" />
    <h2>Block Level Buttons</h2>
    <button type="button" class="btn btn-primary btn-block">Button 1</button>
    <button type="button" class="btn btn-default btn-block">Button 2</button>
    <h2>Large Block Level Buttons</h2>
    <button type="button" class="btn btn-primary btn-lg btn-block">
      Button 1
    </button>
    <button type="button" class="btn btn-default btn-lg btn-block">
      Button 2
    </button>
    <h2>Small Block Level Buttons</h2>
    <button type="button" class="btn btn-primary btn-sm btn-block">
      Button 1
    </button>
    <button type="button" class="btn btn-default btn-sm btn-block">
      Button 2
    </button>
    <button type="button" class="btn btn-primary">Primary Button</button>
    <button type="button" class="btn btn-primary active">Active Primary</button>
    <button type="button" class="btn btn-primary disabled">
      Disabled Primary
    </button>
    <div class="btn-group">
      <button type="button" class="btn btn-primary">Apple</button>
      <button type="button" class="btn btn-primary">Samsung</button>
      <button type="button" class="btn btn-primary">Sony</button>
    </div>
    <div class="btn-group btn-group-lg">
      <button type="button" class="btn btn-primary">Apple</button>
      <button type="button" class="btn btn-primary">Samsung</button>
      <button type="button" class="btn btn-primary">Sony</button>
    </div>
    <div class="btn-group-vertical">
      <button type="button" class="btn btn-primary">Apple</button>
      <button type="button" class="btn btn-primary">Samsung</button>
      <button type="button" class="btn btn-primary">Sony</button>
    </div>
    <div class="btn-group btn-group-justified">
      <a href="#" class="btn btn-primary">Apple</a>
      <a href="#" class="btn btn-primary">Samsung</a>
      <a href="#" class="btn btn-primary">Sony</a>
    </div>
    <div class="btn-group btn-group-justified">
      <div class="btn-group">
        <button type="button" class="btn btn-primary">Apple</button>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-primary">Samsung</button>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-primary">Sony</button>
      </div>
    </div>
    <h2>Nesting Button Groups</h2>
    <p>Nest button groups to create drop down menus:</p>
    <div class="btn-group">
      <button type="button" class="btn btn-primary">Apple</button>
      <button type="button" class="btn btn-primary">Samsung</button>
      <div class="btn-group">
        <button
          type="button"
          class="btn btn-primary dropdown-toggle"
          data-toggle="dropdown"
        >
          Sony <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Tablet</a></li>
          <li><a href="#">Smartphone</a></li>
        </ul>
      </div>
    </div>
    <h2>Split Buttons</h2>
    <div class="btn-group">
      <button type="button" class="btn btn-primary">Sony</button>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle"
        data-toggle="dropdown"
      >
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Tablet</a></li>
        <li><a href="#">Smartphone</a></li>
      </ul>
      <p>Envelope icon: <span class="glyphicon glyphicon-envelope"></span></p>
      <p>
        Envelope icon as a link:
        <a href="#"><span class="glyphicon glyphicon-envelope"></span></a>
      </p>
      <p>Search icon: <span class="glyphicon glyphicon-search"></span></p>
      <p>
        Search icon on a button:
        <button type="button" class="btn btn-default">
          <span class="glyphicon glyphicon-search"></span> Search
        </button>
      </p>
      <p>
        Search icon on a styled button:
        <button type="button" class="btn btn-info">
          <span class="glyphicon glyphicon-search"></span> Search
        </button>
      </p>
      <p>Print icon: <span class="glyphicon glyphicon-print"></span></p>
      <p>
        Print icon on a styled link button:
        <a href="#" class="btn btn-success btn-lg">
          <span class="glyphicon glyphicon-print"></span> Print
        </a>
      </p>
    </div>
    <h2>Badges</h2>
    <a href="#">News <span class="badge">5</span></a
    ><br />
    <a href="#">Comments <span class="badge">10</span></a
    ><br />
    <a href="#">Updates <span class="badge">2</span></a>
    <h2>Badges on Buttons</h2>
    <button type="button" class="btn btn-primary">
      Primary <span class="badge">7</span>
    </button>
    <button type="button" class="btn btn-success">
      Success <span class="badge">3</span>
    </button>
    <button type="button" class="btn btn-danger">
      Danger <span class="badge">5</span>
    </button>
  </div>

  <div>
    <img
      src="cinqueterre.jpg"
      class="img-rounded"
      alt="adds rounded corners to an image"
      width="304"
      height="236"
    />
    <img
      src="cinqueterre.jpg"
      class="img-circle"
      alt="Cinque Terre"
      width="304"
      height="236"
    />
    <img
      src="cinqueterre.jpg"
      class="img-thumbnail"
      alt="Cinque Terre"
      width="304"
      height="236"
    />
    <p>
      The .img-responsive class makes the image scale nicely to the parent
      element (resize the browser window to see the effect):
    </p>
    <img
      class="img-responsive"
      src="img_chania.jpg"
      alt="Chania"
      width="460"
      height="345"
    />

    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="/w3images/lights.jpg" target="_blank">
            <img src="/w3images/lights.jpg" alt="Lights" style="width: 100%" />
            <div class="caption">
              <p>
                Lorem ipsum donec id elit non mi porta gravida at eget metus.
              </p>
            </div>
          </a>
        </div>
      </div>
      <h2>Aspect ratio 4:3</h2>
      <div class="embed-responsive embed-responsive-4by3">
        <iframe
          class="embed-responsive-item"
          src="https://www.youtube.com/embed/XGSy3_Czz8k"
        ></iframe>
      </div>
      <h2>Aspect ratio 16:9</h2>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe
          class="embed-responsive-item"
          src="https://www.youtube.com/embed/XGSy3_Czz8k"
        ></iframe>
      </div>
    </div>
  </div>
</div>

<ul class="list-unstyled">
  <li>Coffee</li>
  <li>
    Tea
    <ul>
      <li>Black tea</li>
      <li>Green tea</li>
    </ul>
  </li>
  <li>Milk</li>
</ul>
<hr>
<ul class="list-inline">
  <li><a href="#">Home</a></li>
  <li>Tea</li>
  <li>Milk</li>
</ul>
<hr>
<dl class="dl-horizontal">
  <dt>Coffee</dt>
  <dd>- black hot drink</dd>
  <dt>Milk</dt>
  <dd>- white cold drink</dd>
</dl>
<hr>

<ul class="list-group">
  <li class="list-group-item">li, ul tag  New <span class="badge">12</span></li>
  <li class="list-group-item">Deleted <span class="badge">5</span></li>
  <li class="list-group-item">Warnings <span class="badge">3</span></li>
  <li class="list-group-item list-group-item-success">First item</li>
  <li class="list-group-item list-group-item-info">Second item</li>
  <li class="list-group-item list-group-item-warning">Third item</li>
  <li class="list-group-item list-group-item-danger">Fourth item</li>
</ul>
<hr>
<div class="list-group">
  <a href="#" class="list-group-item active">div tag First item</a>
  <a href="#" class="list-group-item disabled">Second item</a>
  <a href="#" class="list-group-item">Third item</a>
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading"> List Group Item Heading</h4>
    <p class="list-group-item-text">With Custom Content</p>
  </a>
</div>
<hr>

<h1>Example <span class="label label-default">New</span></h1>
<div class="well well-sm">Small Well</div>
<div class="well well-lg">Large Well</div>
