<div class="container">
  <!--Row with two equal columns-->
  <div class="row">
    <!-- you can also use .col-sm-4, .col-sm-8 -->
    <div class="col-sm-6">
      <p>.col-sm-6</p>
      <!--Column left-->
    </div>
    <div class="col-sm-6">
      <!--Column right-->
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-sm-push-8" style="background-color: lavender">
      .col-sm-4 .col-sm-push-8
    </div>
    <div class="col-sm-8 col-sm-pull-4" style="background-color: lavenderblush">
      .col-sm-8 .col-sm-pull-4
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-4">
      <!--Column with 4 columns offset-->
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 col-md-2">
      <!--Column one-->
    </div>
    <div class="col-sm-9 col-md-8">
      <!--Column two-->
    </div>
    <div class="col-sm-12 col-md-2">
      <!--Column three-->
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4"></div>
    <div class="col-xs-4"></div>
  </div>
</div>

<div>
  <ul class="pagination">
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
  </ul>
  <ul class="pagination">
    <li><a href="#">1</a></li>
    <li class="active"><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
  </ul>
  <ul class="pagination">
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li class="disabled"><a href="#">4</a></li>
    <li><a href="#">5</a></li>
  </ul>
  <ul class="pagination pagination-lg">
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
  </ul>
  <ul class="pagination pagination-sm">
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
  </ul>
  <ul class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Private</a></li>
    <li><a href="#">Pictures</a></li>
    <li class="active">Vacation</li>
  </ul>
  <ul class="pager">
    <li><a href="#">Previous</a></li>
    <li><a href="#">Next</a></li>
  </ul>
  <ul class="pager">
    <li class="previous"><a href="#">Previous</a></li>
    <li class="next"><a href="#">Next</a></li>
  </ul>
  <h2>Basic List Group</h2>

  <h2>Basic Panel</h2>
  <div class="panel panel-default">
    <div class="panel-body">A Basic Panel</div>
  </div>
  <h2>Panel Heading</h2>
  <div class="panel panel-default">
    <div class="panel-heading">Panel Heading</div>
    <div class="panel-body">Panel Content</div>
  </div>
  <h2>Panel Footer</h2>
  <div class="panel panel-default">
    <div class="panel-heading">Panel Heading</div>
    <div class="panel-body">Panel Content</div>
    <div class="panel-footer">Panel Footer</div>
  </div>
  <h2>Panel Group</h2>
  <p>
    The panel-group class clears the bottom-margin. Try to remove the class and
    see what happens.
  </p>
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">Panel Header</div>
      <div class="panel-body">Panel Content</div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Panel Header</div>
      <div class="panel-body">Panel Content</div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Panel Header</div>
      <div class="panel-body">Panel Content</div>
    </div>
  </div>
  <div class="dropdown">
    <button
      class="btn btn-primary dropdown-toggle"
      type="button"
      data-toggle="dropdown"
    >
      Dropdown Example <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">HTML</a></li>
      <li><a href="#">CSS</a></li>
      <li><a href="#">JavaScript</a></li>
    </ul>
  </div>
  <div class="dropdown">
    <button
      class="btn btn-default dropdown-toggle"
      type="button"
      data-toggle="dropdown"
    >
      Tutorials <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">HTML</a></li>
      <li><a href="#">CSS</a></li>
      <li><a href="#">JavaScript</a></li>
      <li class="divider"></li>
      <li><a href="#">About Us</a></li>
    </ul>
  </div>
  <div class="dropdown">
    <button
      class="btn btn-default dropdown-toggle"
      type="button"
      data-toggle="dropdown"
    >
      Tutorials <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li class="dropdown-header">Dropdown header 1</li>
      <li><a href="#">HTML</a></li>
      <li><a href="#">CSS</a></li>
      <li><a href="#">JavaScript</a></li>
      <li class="divider"></li>
      <li class="dropdown-header">Dropdown header 2</li>
      <li><a href="#">About Us</a></li>
    </ul>
  </div>
  <div class="dropdown">
    <button
      class="btn btn-default dropdown-toggle"
      type="button"
      data-toggle="dropdown"
    >
      Tutorials <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">Normal</a></li>
      <li class="disabled"><a href="#">Disabled</a></li>
      <li class="active"><a href="#">Active</a></li>
      <li><a href="#">Normal</a></li>
    </ul>
  </div>
  <div class="dropdown">
    <button
      class="btn btn-default dropdown-toggle"
      type="button"
      data-toggle="dropdown"
    >
      Dropdown Example <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right">
      <li><a href="#">HTML</a></li>
      <li><a href="#">CSS</a></li>
      <li><a href="#">JavaScript</a></li>
      <li class="divider"></li>
      <li><a href="#">About Us</a></li>
    </ul>
  </div>
  <div class="dropup">
    <button
      class="btn btn-default dropdown-toggle"
      type="button"
      data-toggle="dropdown"
    >
      Dropup Example <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">HTML</a></li>
      <li><a href="#">CSS</a></li>
      <li><a href="#">JavaScript</a></li>
      <li class="divider"></li>
      <li><a href="#">About Us</a></li>
    </ul>
  </div>
  <div class="dropdown">
    <button
      class="btn btn-default dropdown-toggle"
      type="button"
      id="menu1"
      data-toggle="dropdown"
    >
      Tutorials <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
      <li role="presentation">
        <a role="menuitem" tabindex="-1" href="#">HTML</a>
      </li>
      <li role="presentation">
        <a role="menuitem" tabindex="-1" href="#">CSS</a>
      </li>
      <li role="presentation">
        <a role="menuitem" tabindex="-1" href="#">JavaScript</a>
      </li>
      <li role="presentation" class="divider"></li>
      <li role="presentation">
        <a role="menuitem" tabindex="-1" href="#">About Us</a>
      </li>
    </ul>
  </div>
</div>

<div>
  <div class="media">
    <img
      class="d-flex mr-3"
      data-src="holder.js/64x64?theme=sky"
      alt="Generic placeholder image"
    />
    <div class="media-body">
      <h5 class="mt-0">Media heading</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
      ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
      viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
      lacinia congue felis in faucibus.
    </div>
  </div>

  <h2>Media Object</h2>
  <p>
    Use the "media-left" class to left-align a media object. Text that should
    appear next to the image, is placed inside a container with
    class="media-body".
  </p>
  <p>Tip: Use the "media-right" class to right-align the media object.</p>
  <br />
  <!-- Left-aligned media object -->
  <div class="media">
    <div class="media-left">
      <img src="img_avatar1.png" class="media-object" style="width: 60px" />
    </div>
    <div class="media-body">
      <h4 class="media-heading">Left-aligned</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>
  <hr />
  <!-- Right-aligned media object -->
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">Right-aligned</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
    <div class="media-right">
      <img src="img_avatar1.png" class="media-object" style="width: 60px" />
    </div>
  </div>
  <h2>Media Object</h2>
  <p>
    The media object can also be top, middle or bottom-aligned with the
    "media-top", "media-middle" or "media-bottom" class:
  </p>
  <br />
  <div class="media">
    <div class="media-left media-top">
      <img src="img_avatar1.png" class="media-object" style="width: 80px" />
    </div>
    <div class="media-body">
      <h4 class="media-heading">Media Top</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>
  <hr />
  <div class="media">
    <div class="media-left media-middle">
      <img src="img_avatar1.png" class="media-object" style="width: 80px" />
    </div>
    <div class="media-body">
      <h4 class="media-heading">Media Middle</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>
  <hr />
  <div class="media">
    <div class="media-left media-bottom">
      <img src="img_avatar1.png" class="media-object" style="width: 80px" />
    </div>
    <div class="media-body">
      <h4 class="media-heading">Media Bottom</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>
  <h2>Nested Media Objects</h2>
  <p>
    Media objects can also be nested (a media object inside a media object):
  </p>
  <br />
  <div class="media">
    <div class="media-left">
      <img src="img_avatar1.png" class="media-object" style="width: 45px" />
    </div>
    <div class="media-body">
      <h4 class="media-heading">
        John Doe <small><i>Posted on February 19, 2016</i></small>
      </h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <!-- Nested media object -->
      <div class="media">
        <div class="media-left">
          <img src="img_avatar2.png" class="media-object" style="width: 45px" />
        </div>
        <div class="media-body">
          <h4 class="media-heading">
            John Doe <small><i>Posted on February 19, 2016</i></small>
          </h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <!-- Nested media object -->
          <div class="media">
            <div class="media-left">
              <img
                src="img_avatar3.png"
                class="media-object"
                style="width: 45px"
              />
            </div>
            <div class="media-body">
              <h4 class="media-heading">
                John Doe <small><i>Posted on February 19, 2016</i></small>
              </h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


    <br />

    <h2>Modal Example</h2>
    <!-- Trigger the modal with a button -->
    <button
      type="button"
      class="btn btn-info btn-lg"
      data-toggle="modal"
      data-target="#myModal"
    >
      Open Modal
    </button>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
            <h4 class="modal-title">Modal Header</h4>
          </div>
          <div class="modal-body">
            <p>Some text in the modal.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-dialog modal-sm"></div>
    <div class="modal-dialog modal-lg"></div>
    <h3>Tooltip Example</h3>
    <a href="#" data-toggle="tooltip" title="Hooray!">Hover over me</a>
    <ul class="list-inline">
      <li>
        <a href="#" data-toggle="tooltip" data-placement="top" title="Hooray!"
          >Top</a
        >
      </li>
      <li>
        <a
          href="#"
          data-toggle="tooltip"
          data-placement="bottom"
          title="Hooray!"
          >Bottom</a
        >
      </li>
      <li>
        <a href="#" data-toggle="tooltip" data-placement="left" title="Hooray!"
          >Left</a
        >
      </li>
      <li>
        <a href="#" data-toggle="tooltip" data-placement="right" title="Hooray!"
          >Right</a
        >
      </li>
    </ul>
    <h3>Popover Example</h3>
    <a
      href="#"
      data-toggle="popover"
      title="Popover Header"
      data-content="Some content inside the popover"
      >Toggle popover</a
    >
    <h3>Popover Example</h3>
    <ul class="list-inline">
      <li>
        <a
          href="#"
          title="Header"
          data-toggle="popover"
          data-placement="top"
          data-content="Content"
          >Top</a
        >
      </li>
      <li>
        <a
          href="#"
          title="Header"
          data-toggle="popover"
          data-placement="bottom"
          data-content="Content"
          >Bottom</a
        >
      </li>
      <li>
        <a
          href="#"
          title="Header"
          data-toggle="popover"
          data-placement="left"
          data-content="Content"
          >Left</a
        >
      </li>
      <li>
        <a
          href="#"
          title="Header"
          data-toggle="popover"
          data-placement="right"
          data-content="Content"
          >Right</a
        >
      </li>
    </ul>
    <h3>Popover Example</h3>
    <a
      href="#"
      title="Dismissible popover"
      data-toggle="popover"
      data-trigger="focus"
      data-content="Click anywhere in the document to close this popover"
      >Click me</a
    >
    <h3>Popover Example</h3>
    <a href="#" title="Header" data-toggle="popover" data-content="Some content"
      >Click Me</a
    ><br />
    <a
      href="#"
      title="Header"
      data-toggle="popover"
      data-trigger="hover"
      data-content="Some content"
      >Hover over me</a
    >
    <!-- <body data-spy="scroll" data-target=".navbar" data-offset="50"> -->

    <div id="section1" class="container-fluid">
      <h1>Section 1</h1>
      <p>
        Try to scroll this section and look at the navigation bar while
        scrolling! Try to scroll this section and look at the navigation bar
        while scrolling!
      </p>
      <p>
        Try to scroll this section and look at the navigation bar while
        scrolling! Try to scroll this section and look at the navigation bar
        while scrolling!
      </p>
    </div>
    <div id="section2" class="container-fluid">
      <h1>Section 2</h1>
      <p>
        Try to scroll this section and look at the navigation bar while
        scrolling! Try to scroll this section and look at the navigation bar
        while scrolling!
      </p>
      <p>
        Try to scroll this section and look at the navigation bar while
        scrolling! Try to scroll this section and look at the navigation bar
        while scrolling!
      </p>
    </div>
    <div id="section3" class="container-fluid">
      <h1>Section 3</h1>
      <p>
        Try to scroll this section and look at the navigation bar while
        scrolling! Try to scroll this section and look at the navigation bar
        while scrolling!
      </p>
      <p>
        Try to scroll this section and look at the navigation bar while
        scrolling! Try to scroll this section and look at the navigation bar
        while scrolling!
      </p>
    </div>
    <div id="section41" class="container-fluid">
      <h1>Section 4 Submenu 1</h1>
      <p>
        Try to scroll this section and look at the navigation bar while
        scrolling! Try to scroll this section and look at the navigation bar
        while scrolling!
      </p>
      <p>
        Try to scroll this section and look at the navigation bar while
        scrolling! Try to scroll this section and look at the navigation bar
        while scrolling!
      </p>
    </div>
    <div id="section42" class="container-fluid">
      <h1>Section 4 Submenu 2</h1>
      <p>
        Try to scroll this section and look at the navigation bar while
        scrolling! Try to scroll this section and look at the navigation bar
        while scrolling!
      </p>
      <p>
        Try to scroll this section and look at the navigation bar while
        scrolling! Try to scroll this section and look at the navigation bar
        while scrolling!
      </p>
    </div>
    <!-- <body data-spy="scroll" data-target="#myScrollspy" data-offset="20"> -->
    <div class="row">
      <div class="col-sm-9">
        <div id="section1">
          <h1>Section 1</h1>
          <p>
            Try to scroll this section and look at the navigation list while
            scrolling!
          </p>
        </div>
        <div id="section2">
          <h1>Section 2</h1>
          <p>
            Try to scroll this section and look at the navigation list while
            scrolling!
          </p>
        </div>
        <div id="section3">
          <h1>Section 3</h1>
          <p>
            Try to scroll this section and look at the navigation list while
            scrolling!
          </p>
        </div>
        <div id="section41">
          <h1>Section 4-1</h1>
          <p>
            Try to scroll this section and look at the navigation list while
            scrolling!
          </p>
        </div>
        <div id="section42">
          <h1>Section 4-2</h1>
          <p>
            Try to scroll this section and look at the navigation list while
            scrolling!
          </p>
        </div>
      </div>
    </div>
    <div
      class="container-fluid"
      style="background-color: #f44336; color: #fff; height: 200px"
    >
      <h1>Bootstrap Affix Example</h1>
      <h3>Fixed (sticky) navbar on scroll</h3>
      <p>
        Scroll this page to see how the navbar behaves with data-spy="affix".
      </p>
      <p>
        The navbar is attached to the top of the page after you have scrolled a
        specified amount of pixels.
      </p>
    </div>

    <div class="container-fluid" style="height: 1000px">
      <h1>Some text to enable scrolling</h1>
      <h1>Some text to enable scrolling</h1>
      <h1>Some text to enable scrolling</h1>
      <h1>Some text to enable scrolling</h1>
      <h1>Some text to enable scrolling</h1>
      <h1>Some text to enable scrolling</h1>
      <h1>Some text to enable scrolling</h1>
      <h1>Some text to enable scrolling</h1>
      <h1>Some text to enable scrolling</h1>
      <h1>Some text to enable scrolling</h1>
      <h1>Some text to enable scrolling</h1>
    </div>
    <div
      class="container-fluid"
      style="background-color: #2196f3; color: #fff; height: 200px"
    >
      <h1>Bootstrap Affix Example</h1>
      <h3>Fixed (sticky) vertical sidenav on scroll</h3>
      <p>
        Scroll this page to see how the left navigation menu behaves with
        data-spy="affix".
      </p>
      <p>
        <strong
          >The left menu sticks to the page when you have scrolled a specified
          amount of pixels.</strong
        >
      </p>
    </div>
    <br />
    <div class="row">
      <div class="col-sm-9">
        <h1>Some text to enable scrolling</h1>
        <h1>Some text to enable scrolling</h1>
        <h1>Some text to enable scrolling</h1>
        <h1>Some text to enable scrolling</h1>
        <h1>Some text to enable scrolling</h1>
        <h1>Some text to enable scrolling</h1>
        <h1>Some text to enable scrolling</h1>
        <h1>Some text to enable scrolling</h1>
        <h1>Some text to enable scrolling</h1>
        <h1>Some text to enable scrolling</h1>
        <h1>Some text to enable scrolling</h1>
        <h1>Some text to enable scrolling</h1>
        <h1>Some text to enable scrolling</h1>
        <h1>Some text to enable scrolling</h1>
      </div>
    </div>
    <p>horizontal</p>
    <!-- <body data-spy="scroll" data-target=".navbar" data-offset="50"> -->

    <p>vertical</p>
    <!-- <body data-spy="scroll" data-target="#myScrollspy" data-offset="15"> -->

    <ul
      class="nav nav-pills nav-stacked"
      data-spy="affix"
      data-offset-top="205"
    ></ul>
    <div class="row">
      <div class="col-xs-6 col-sm-3">
        Column 1
        <br />
        Resize the browser window to see the effect.
      </div>
      <div class="col-xs-6 col-sm-3">Column 2</div>
      <!-- Add clearfix for only the required viewport -->
      <div class="clearfix visible-xs"></div>
      <div class="col-xs-6 col-sm-3">Column 3</div>
      <div class="col-xs-6 col-sm-3">Column 4</div>
    </div>
    <div class="row">
      <div class="col-sm-5 col-md-6">.col-sm-5 .col-md-6</div>
      <div class="col-sm-5 col-sm-offset-2 col-md-6 col-md-offset-0">
        .col-sm-5 .col-sm-offset-2 .col-md-6 .col-md-offset-0
      </div>
    </div>

    <div class="header">
      <h1>Chania</h1>
    </div>

    <div class="row">
      <div class="col-3 menu">
        <ul>
          <li>The Flight</li>
          <li>The City</li>
          <li>The Island</li>
          <li>The Food</li>
        </ul>
      </div>

      <div class="col-6">
        <h1>The City</h1>
        <p>
          Chania is the capital of the Chania region on the island of Crete. The
          city can be divided in two parts, the old town and the modern city.
        </p>
      </div>

      <div class="col-3 right">
        <div class="aside">
          <h2>What?</h2>
          <p>Chania is a city on the island of Crete.</p>
          <h2>Where?</h2>
          <p>Crete is a Greek island in the Mediterranean Sea.</p>
          <h2>How?</h2>
          <p>You can reach Chania airport from all over Europe.</p>
        </div>
      </div>
    </div>

    <div class="footer">
      <p>
        Resize the browser window to see how the content respond to the
        resizing.
      </p>
    </div>
