<!-- .container - responsive fixed width container -->
<div class="container">
  <div class="jumbotron">
    <p>I am jumbotron Resize this responsive page to see the effect!</p>
    <h1 class="display-3">Hello, world!</h1>
    <p class="lead">
      This is a simple hero unit, a simple jumbotron-style component for calling
      extra attention to featured content or information.
    </p>
    <hr class="my-2" />
    <p>
      It uses utility classes for typography and spacing to space content out
      within the larger container.
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#!" role="button">Some action</a>
    </p>
  </div>

  <p>
    The .table class adds basic styling (light padding and only horizontal
    dividers) to a table:
  </p>
  <p>
    The .img-rounded class adds rounded corners to an image (not available in
    IE8):
  </p>
  <table class="table">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
  <p>The .table-striped class adds zebra-stripes to a table:</p>
  <table class="table table-striped"></table>
  <p>The .table-bordered class adds borders to a table:</p>
  <table class="table table-bordered"></table>
  <p>The .table-hover class enables a hover state on table rows:</p>
  <table class="table table-hover"></table>
  <p>
    The .table-condensed class makes a table more compact by cutting cell
    padding in half:
  </p>
  <table class="table table-condensed"></table>
  <table class="table">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Default</td>
        <td>Defaultson</td>
        <td>def@somemail.com</td>
      </tr>
      <tr class="success">
        <td>Success</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr class="danger">
        <td>Danger</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr class="info">
        <td>Info</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
      <tr class="warning">
        <td>Warning</td>
        <td>Refs</td>
        <td>bo@example.com</td>
      </tr>
      <tr class="active">
        <td>Active</td>
        <td>Activeson</td>
        <td>act@example.com</td>
      </tr>
    </tbody>
  </table>
  <p>
    The .table-responsive class creates a responsive table which will scroll
    horizontally on small devices (under 768px). When viewing on anything larger
    than 768px wide, there is no difference:
  </p>
  <div class="table-responsive">
    <table class="table"></table>

    <div class="container-fluid">
      <h1>My First Bootstrap Page</h1>
      <p>This is some text.</p>
    </div>
  </div>

  <!-- text -->
  <div>
    <p class="text-muted">This text is muted.</p>
    <p class="text-primary">This text is important.</p>
    <p class="text-success">This text indicates success.</p>
    <p class="text-info">This text represents some information.</p>
    <p class="text-warning">This text represents a warning.</p>
    <p class="text-danger">This text represents danger.</p>
    <p class="bg-primary">This text is important.</p>
    <p class="bg-success">This text indicates success.</p>
    <p class="bg-info">This text represents some information.</p>
    <p class="bg-warning">This text represents a warning.</p>
    <p class="bg-danger">This text represents danger.</p>
    <h2 class="red-text text-center">CatPhotoApp</h2>
    <h2 class="text-primary text-center">CatPhotoApp</h2>
    <p class="small">This paragraph is smaller.</p>
    <p class="text-left">Left-aligned text.</p>
    <p class="text-right">Right-aligned text.</p>
    <p class="text-center">Center-aligned text.</p>
    <p class="text-justify">
      Justified text. Justified text. Justified text. Justified text. Justified
      text. Justified text.
    </p>
    <p class="text-nowrap">
      No wrap text. No wrap text. No wrap text. No wrap text.
    </p>
    <p>
      <strong>Tip:</strong> Try to resize the browser window to see the
      behaviour of justify and nowrap.
    </p>
    <p class="text-lowercase">Lowercased text.</p>
    <p class="text-uppercase">Uppercased text.</p>
    <p class="text-capitalize">Capitalized text.</p>
    <p>
      The
      <abbr title="World Health Organization" class="initialism">WHO</abbr> was
      founded in 1948. (slightly smaller abbr)
    </p>
    <p>Things cats <span class="text-danger">love:text-danger</span></p>

    <div class="well">create a visual sense of depth for your columns.</div>

    <blockquote>
      <p>
        For 50 years, WWF has been protecting the future of nature. The world's
        leading conservation organization, WWF works in 100 countries and is
        supported by 1.2 million members in the United States and close to 5
        million globally.
      </p>
      <footer>From WWF's website</footer>
    </blockquote>
    <blockquote class="blockquote-reverse">
      <p>
        For 50 years, WWF has been protecting the future of nature. The world's
        leading conservation organization, WWF works in 100 countries and is
        supported by 1.2 million members in the United States and close to 5
        million globally.
      </p>
      <footer>From WWF's website</footer>
    </blockquote>

    <p>
      <strong>Tip:</strong> Try to resize the browser window to see the
      behaviour of the description list.
    </p>

    <pre class="pre-scrollable">
Text in a pre element
is displayed in a fixed-width
font, and it preserves
both      spaces and
line breaks.</pre
    >

    <div class="page-header">
      <h1>Example Page Header</h1>
    </div>
    <p>This is some text.</p>
    <p>This is another text.</p>
    <div class="well">Basic Well</div>
    <h2>Alerts</h2>
    <div class="alert alert-success">
      <strong>Success!</strong> This alert box could indicate a successful or
      positive action.
    </div>
    <div class="alert alert-info">
      <strong>Info!</strong> This alert box could indicate a neutral informative
      change or action.
    </div>
    <div class="alert alert-warning">
      <strong>Warning!</strong> This alert box could indicate a warning that
      might need attention.
    </div>
    <div class="alert alert-danger">
      <strong>Danger!</strong> This alert box could indicate a dangerous or
      potentially negative action.
    </div>
    <div class="alert alert-success">
      <strong>Success!</strong> You should
      <a href="#" class="alert-link">read this message</a>.
    </div>
    <div class="alert alert-success alert-dismissable">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
      <strong>Success!</strong> This alert box could indicate a successful or
      positive action.
    </div>
    <div class="alert alert-info alert-dismissable fade in">
      <a href="#" class="close" data-dismiss="alert" aria-label="close"
        >&times;</a
      >
      <strong>Info!</strong> This alert box could indicate a neutral informative
      change or action.
    </div>
  </div>

  <div>
    <button class="btn btn-block btn-danger">
      <i class="fa fa-trash">danger- Delete</i>
    </button>
    <button class="btn btn-block btn-info">
      <i class="fa fa-info-circle">Info</i>
    </button>
    <button class="btn btn-block btn-primary">
      <i class="fa fa-thumbs-up"></i>primary- Like
    </button>
    <button class="btn">Like</button>
    <button class="btn btn-block">Submit</button>
    <button type="submit" class="btn btn-primary">
      <i class="fa fa-paper-plane">Submit</i>
    </button>
    <button class="btn btn-default"></button>
    <button class="btn btn-default target">just for selecting button</button>

    <button type="button" class="btn btn-default">Default</button>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-link">Link</button>
    <button type="button" class="btn btn-primary btn-lg">Large</button>
    <button type="button" class="btn btn-primary btn-md">Medium</button>
    <button type="button" class="btn btn-primary btn-sm">Small</button>
    <button type="button" class="btn btn-primary btn-xs">XSmall</button>
    <h2>Button Tags</h2>
    <a href="#" class="btn btn-info" role="button">Link Button</a>
    <button type="button" class="btn btn-info">Button</button>
    <input type="button" class="btn btn-info" value="Input Button" />
    <input type="submit" class="btn btn-info" value="Submit Button" />
    <h2>Block Level Buttons</h2>
    <button type="button" class="btn btn-primary btn-block">Button 1</button>
    <button type="button" class="btn btn-default btn-block">Button 2</button>
    <h2>Large Block Level Buttons</h2>
    <button type="button" class="btn btn-primary btn-lg btn-block">
      Button 1
    </button>
    <button type="button" class="btn btn-default btn-lg btn-block">
      Button 2
    </button>
    <h2>Small Block Level Buttons</h2>
    <button type="button" class="btn btn-primary btn-sm btn-block">
      Button 1
    </button>
    <button type="button" class="btn btn-default btn-sm btn-block">
      Button 2
    </button>
    <button type="button" class="btn btn-primary">Primary Button</button>
    <button type="button" class="btn btn-primary active">Active Primary</button>
    <button type="button" class="btn btn-primary disabled">
      Disabled Primary
    </button>
    <div class="btn-group">
      <button type="button" class="btn btn-primary">Apple</button>
      <button type="button" class="btn btn-primary">Samsung</button>
      <button type="button" class="btn btn-primary">Sony</button>
    </div>
    <div class="btn-group btn-group-lg">
      <button type="button" class="btn btn-primary">Apple</button>
      <button type="button" class="btn btn-primary">Samsung</button>
      <button type="button" class="btn btn-primary">Sony</button>
    </div>
    <div class="btn-group-vertical">
      <button type="button" class="btn btn-primary">Apple</button>
      <button type="button" class="btn btn-primary">Samsung</button>
      <button type="button" class="btn btn-primary">Sony</button>
    </div>
    <div class="btn-group btn-group-justified">
      <a href="#" class="btn btn-primary">Apple</a>
      <a href="#" class="btn btn-primary">Samsung</a>
      <a href="#" class="btn btn-primary">Sony</a>
    </div>
    <div class="btn-group btn-group-justified">
      <div class="btn-group">
        <button type="button" class="btn btn-primary">Apple</button>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-primary">Samsung</button>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-primary">Sony</button>
      </div>
    </div>
    <h2>Nesting Button Groups</h2>
    <p>Nest button groups to create drop down menus:</p>
    <div class="btn-group">
      <button type="button" class="btn btn-primary">Apple</button>
      <button type="button" class="btn btn-primary">Samsung</button>
      <div class="btn-group">
        <button
          type="button"
          class="btn btn-primary dropdown-toggle"
          data-toggle="dropdown"
        >
          Sony <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Tablet</a></li>
          <li><a href="#">Smartphone</a></li>
        </ul>
      </div>
    </div>
    <h2>Split Buttons</h2>
    <div class="btn-group">
      <button type="button" class="btn btn-primary">Sony</button>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle"
        data-toggle="dropdown"
      >
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Tablet</a></li>
        <li><a href="#">Smartphone</a></li>
      </ul>
      <p>Envelope icon: <span class="glyphicon glyphicon-envelope"></span></p>
      <p>
        Envelope icon as a link:
        <a href="#"><span class="glyphicon glyphicon-envelope"></span></a>
      </p>
      <p>Search icon: <span class="glyphicon glyphicon-search"></span></p>
      <p>
        Search icon on a button:
        <button type="button" class="btn btn-default">
          <span class="glyphicon glyphicon-search"></span> Search
        </button>
      </p>
      <p>
        Search icon on a styled button:
        <button type="button" class="btn btn-info">
          <span class="glyphicon glyphicon-search"></span> Search
        </button>
      </p>
      <p>Print icon: <span class="glyphicon glyphicon-print"></span></p>
      <p>
        Print icon on a styled link button:
        <a href="#" class="btn btn-success btn-lg">
          <span class="glyphicon glyphicon-print"></span> Print
        </a>
      </p>
    </div>
    <h2>Badges</h2>
    <a href="#">News <span class="badge">5</span></a
    ><br />
    <a href="#">Comments <span class="badge">10</span></a
    ><br />
    <a href="#">Updates <span class="badge">2</span></a>
    <h2>Badges on Buttons</h2>
    <button type="button" class="btn btn-primary">
      Primary <span class="badge">7</span>
    </button>
    <button type="button" class="btn btn-success">
      Success <span class="badge">3</span>
    </button>
    <button type="button" class="btn btn-danger">
      Danger <span class="badge">5</span>
    </button>
  </div>

  <div>
    <img
      src="cinqueterre.jpg"
      class="img-rounded"
      alt="Cinque Terre"
      width="304"
      height="236"
    />
    <img
      src="cinqueterre.jpg"
      class="img-circle"
      alt="Cinque Terre"
      width="304"
      height="236"
    />
    <img
      src="cinqueterre.jpg"
      class="img-thumbnail"
      alt="Cinque Terre"
      width="304"
      height="236"
    />
    <p>
      The .img-responsive class makes the image scale nicely to the parent
      element (resize the browser window to see the effect):
    </p>
    <img
      class="img-responsive"
      src="img_chania.jpg"
      alt="Chania"
      width="460"
      height="345"
    />

    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="/w3images/lights.jpg" target="_blank">
            <img src="/w3images/lights.jpg" alt="Lights" style="width: 100%" />
            <div class="caption">
              <p>
                Lorem ipsum donec id elit non mi porta gravida at eget metus.
              </p>
            </div>
          </a>
        </div>
      </div>
      <h2>Aspect ratio 4:3</h2>
      <div class="embed-responsive embed-responsive-4by3">
        <iframe
          class="embed-responsive-item"
          src="https://www.youtube.com/embed/XGSy3_Czz8k"
        ></iframe>
      </div>
      <h2>Aspect ratio 16:9</h2>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe
          class="embed-responsive-item"
          src="https://www.youtube.com/embed/XGSy3_Czz8k"
        ></iframe>
      </div>
    </div>
  </div>
</div>
